.hero {
    height: 100vh;
    text-align: center;
    color: #CCC;
    position: relative;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 17.5px;
  }
  
  .hero-one {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../asset/hero-bg1.webp);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(../../asset/hero-bg2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .header-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-primary {
    font-size: 10rem;
    display: block;
    font-weight: 700;
  }
  .header-sub {
    font-size: 5rem;
}


  
  @media only screen and (max-width: 750px) {
    .header-primary {
        font-size: 5rem;
        display: block;
        font-weight: 700;
    }
    .header-sub {
        font-size: 3rem;
        line-height: 10px;
    }
  }

  @media only screen and (max-width: 425px) {
    .header-primary {
        font-size: 5rem;
        display: block;
        font-weight: 700;
    }
    .header-sub {
        font-size: 2rem;
        line-height: 10px;
    }
  }

  .container {
    width: auto;
    padding: 48px 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .flexbox {
    display: none;
  
    grid-template-rows: masonry;
    gap: 30px;
  }
  .flexbox-2 {
    display: none;
  }
  @media (max-width: 576px) {
    .flexbox-2 {
      display: flex;
      flex-direction: column;
      gap: 20px
    }
    .flexbox-2-img {
      border-radius: 10px;
      display: block;
      width: 100%;
      height: 100%;
      min-height: 400px;
      object-fit: cover;
    }
  }
  

  .gallery-title {
    padding-bottom: 48px;
  }

  @media (min-width: 576px) {
    .container {
      width: 540px;
      padding: 48px 0;
    }
  
    .flexbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      gap: 20px;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 720px;
    }
    .flexbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      gap: 20px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 960px;
    }
    .flexbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      gap: 20px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
    .flexbox {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
  }
  